body {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}

/* 1) Typo globale (sans forcer la couleur partout) */
 h2, h3, h4, h5, h6, p, label, li, td {
  font-size: 17px;
  font-weight: bold;
}

/* 2) Par défaut, tous les spans sont blancs */
span,  {
  font-size: 20px;
  font-weight: bold;
  color: #FFF;
}

/* 3) Spans dans .AFregis en noir (sauf exceptions) */
.AFregis span, .jour-selector span,  {
  color: #000 !important;
}

/* 4) Exception: spans .bad NE DOIVENT PAS être forcés en noir */
.AFregis span.bad {
  color: inherit !important; /* ou une couleur spécifique, ex: red */
}

/* 5) Exception: spans à l'intérieur d'un button dans .AFregis => blancs */
.AFregis button span {
  color: #FFF !important;
}



/* Champs texte */
input[type="text"],
input[type="number"],
input[type="date"],
input[type="time"],
select,
textarea {
  font-size: 18px !important;
  font-weight: bold;
  color: #000000;
}

/* Boutons */



/* Boutons */
button, .tab-button, .tab-button_z, .tab-button_u, .note-tab-button, #clearButton {
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
}

/* Listes */
ul li, .lieux-list li {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}

/* Pastilles */
.place-card .pastille {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}

button {
  position: relative;
  overflow: hidden;
  color: white;
      height: 35px;
}

button span {
  position: relative;
  z-index: 1;
  color: inherit;
}

button:not(.no-contrast-overlay)::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
  z-index: 0;
}


.modal-button { 
padding: 1px;}

#updateTimeButton  {height: 50px !important; width: 50px !important; 
}

#clearCauseBtn, #clearTypeBtn {
  height: 39px !important;
}

#globalEditBar {
  z-index: 99;
}


.floating-list { max-height: 190px; outline: 1px dashed red; border-radius: 10px;  }

.contrast-on .highlight-mirror {
  color:transparent !important;              /* tout le texte est invisible... */
}

/* iframe {height: 350px !important}*/


#capsules-container, #zone-texte, #tempsArretsInput, #typeDropdown, #causeDropdown
 {height: 40px;}

.chrono-status {
    font-size: 23px;

}